.Grid{
    display: grid;
    width: 100%;
    height: 100%; 
    margin: 0;
    padding: 0;
}

.HOME{
    background-color: red;
    width: 100%;
    height: 100%; 
    margin: 0;
    padding: 0;  
}

.SELECTCAR{
    background-color: green;
}

.RECAPITULATE{
    background-color: blue; 
}

