*{
    margin: 0;
    padding: 0;
}




body{
  color: white;
  /* desactiver le scroll dans le body (pas oublier
  de lui donner une taille sinon ça marche pas*/
  height: 100vh;
  overflow: hidden; 
  
  
}

.container{
    height: 100%;
    width: 100%;
    /*SCROLL SMOOTH*/
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

.navbar{
    background-color: rgba(0, 0, 0, 0.5); 
    position: fixed;
    top: 0; 
    z-index: 1; 
    display: flex;
    width: 100%;
    height: 50px;
    font-family: 'Nunito', sans-serif;
    font-weight: 900 bold ;    
}

.navbar ul{
    display: flex;
    list-style-type: none;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.navbar ul li{
    margin: 0 1rem;
    padding: 1rem;
    
}

.navbar ul li a{
    color: white;
    text-decoration: none; 
    cursor: pointer;
   
}

.navbar ul li a:hover{
     zoom: 1.2; 
     color: rgb(38, 94, 116);
     
}






Section{
    display: flex;
    flex-direction: column;
    width: 100%; 
    height: 100vh; /* vh = Viewport Height : permet de dimensioner par rapport à la taille de l'écran*/
    text-align: center;
    justify-content: center;
    align-items: center;
    /*SCROLL SNAP ALIGN*/
    scroll-snap-align: center;
    

    
}


/*////////////////////////////////////////////////////////////////////////////////////////////////////////////*/



#LOCALISATION{
    background-color: black;
    margin: 0;
    padding: 0; 
     
    
}

#LOCALISATION h2{
    position: relative;
    bottom: 200px;
    font-family: 'Nunito', sans-serif;
    font-weight: 800 bold ;
    z-index: 1000;

}

#LOCALISATION ul{
    position: relative; 
    top: 100px;
    z-index: 1;
    display: flex; 
    width: 100%;
    align-items: center;
    justify-content: center;
}

#LOCALISATION ul li{
    margin: 20px 80px 20px 80px; 
    list-style-type: none;
    
}

#LOCALISATION ul li a{
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    color: black;
    cursor: pointer; 
    text-decoration: none;
}

.agence{
    background-color: rgb(255, 255, 255);
    padding: 10px 20px;
    width: 100px; 
    border-radius: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;

}
.agence:hover {
    background-color: rgb(38, 94, 116); 
    cursor: pointer;
}

#LOCALISATION li:hover a{
    color:white; 
}


   


#LOCALISATION p{
    z-index: 1000;
}
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////*/



/*////////////////////////////////////////////////////////////////////////////////////////////////////////////*/



#SELECTCAR{
    background-color: black;
    z-index: 1000;
}

#SELECTCAR h2{
    z-index: 1000;
}

#SELECTCAR p{
    z-index: 1000;
}


/*////////////////////////////////////////////////////////////////////////////////////////////////////////////*/


#RECAPITULATE{
    background-color: black; 
    z-index: 1000;
}

#RECAPITULATE h2{
    z-index: 1000;
}

#RECAPITULATE p{
    z-index: 1000; 
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*
#LOCALISATION img{
    position: fixed;
    top: 300px; 
    /*top: 80px; 
     
    margin: 0; 
    padding: 0;
    z-index: 0;
}*/


.image{
    background: url('./mercedes_retouchée.png') no-repeat center ;
    position: fixed;
    top: 300px;
    z-index: 0;
    height: 500px; 
    width: 500px;

    
}
