*{
    margin: 0;
    padding: 0;
}

.Container{
    height: 100%;
    width: 100%;
}

.HOME{
    background-color: red;
    margin: 0;
    padding: 0;  
}

.SELECTCAR{
    background-color: green;
}

.RECAPITULATE{
    background-color: blue; 
}

