*{
    margin: 0;
    padding: 0;
}


body{
  color: white;
  /* desactiver le scroll dans le body (pas oublier
  de lui donner une taille sinon ça marche pas*/
  height: 100vh;
  overflow: hidden;  
  
}

.container{
    height: 100%;
    width: 100%;
    /*SCROLL SMOOTH*/
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

.navbar{
   /* background-color: rgba(0, 0, 0, 0.5); */
    position: fixed;
    top: 0; 
    z-index: 1; 
    display: flex;
    width: 100%;
    height: 50px;
    font-family: 'Nunito', sans-serif;
    font-weight: 900 bold ;    
}

.navbar ul{
    display: flex;
    list-style-type: none;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.navbar ul li{
    margin: 0 1rem;
    padding: 1rem;
    
}

.navbar ul li a{
    color: white;
    text-decoration: none; 
    transition: all .5s;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    -ms-transition: all .5s;    
   
}

.navbar ul li a:hover{
    transform : scale(5);
 -moz-transform : scale(1.25);
 -webkit-transform : scale(1.25);
 -o-transform : scale(1.25);
 -ms-transform : scale(1.25);
    /*color: rgb(105, 105, 105); */   
}




Section{
    display: flex;
    flex-direction: column;
    width: 100%; 
    height: 100vh; /* vh = Viewport Height : permet de dimensioner par rapport à la taille de l'écran*/
    text-align: center;
    justify-content: center;
    align-items: center;
    /*SCROLL SNAP ALIGN*/
    scroll-snap-align: center;
    
}


/*////////////////////////////////////////////////////////////////////////////////////////////////////////////*/



#LOCALISATION{
    background-color: black;
    margin: 0;
    padding: 0;  
    /*background: url('https://source.unsplash.com/K2tdx2mFDHc/1600x900') no-repeat center center/cover;;*/
}

#LOCALISATION h2{
    position: relative;
    bottom: 200px;
    font-family: 'Nunito', sans-serif;
    font-weight: 800 bold ;

}

#LOCALISATION ul{
    position: relative; 
    bottom: 150px;
    display: flex; 
    width: 100%;
    align-items: center;
    justify-content: center;
}

#LOCALISATION ul li{
    margin: 20px 80px 20px 80px; 
    list-style-type: none;
    
}

#LOCALISATION ul li a{
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    color: black;
}

/*

#LOCALISATION ul li a:hover{
    color: white;
}*/
#LOCALISATION ul li a:hover, .agence{
    background-color: rgb(80, 133, 163); 
    color: white;
}

.agence{
    background-color: rgb(226, 226, 226);
    padding: 10px 20px;
    width: 100px; 
    border-radius: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;

}

   


#LOCALISATION p{

}


/*////////////////////////////////////////////////////////////////////////////////////////////////////////////*/



#SELECTCAR{
    background-color: red;
}

#SELECTCAR h2{

}

#SELECTCAR p{
    
}


/*////////////////////////////////////////////////////////////////////////////////////////////////////////////*/


#RECAPITULATE{
    background-color: blue; 
}

#RECAPITULATE h2{

}

#RECAPITULATE p{

}
