*{
    margin: 0;
    padding: 0;
}

body{
   
}

#navBar{
    background-color: purple; 
    position: fixed;
    top: 0; 
    z-index: 1; 
    display: flex;
    width: 100%;
    height: 50px;
    
}

#CONTAINER{
    height: 100%;
    width: 100%;
    
    scroll-behavior: smooth;
}


#Section{
    display: flex;
    flex-direction: column;
    width: 100%; 
    height: 100vh; /* vh = Viewport Height : permet de dimensioner par rapport à la taille de l'écran*/
    
}
.HOME{
    background-color: red;
    margin: 0;
    padding: 0;  
}

.SELECTCAR{
    background-color: green;
}

.RECAPITULATE{
    background-color: blue; 
}

